.products-container{
    margin: auto;
}


.product-container{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #777;
    padding:1em;
    width:10em;
    height:auto;
    margin: 0.3em;
    border-radius: 5px;
}

.product-container .name-holder{
    width: inherit;
    height:2em;
    padding: 0.2em;
    margin: 0.1em;
    font-size: x-large;
    font-weight: 900;
    color:var(--BASE_COLOR);
    text-align: center;
    background-color: #ccc;
}
.product-container .name-holder a {
  text-decoration: none;
  color: var(--BASE_COLOR);
}

.product-container .name-holder a:hover{
    color:#fff
}

.product-container .available-amount{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    

}

.product-container .available-amount span {
    font-size: 0.8em;
    font-weight: bold;
    color: red;
}

.product-container .available-amount label {
    font-size: 0.8em;
    font-weight: bolder;
    color: #000;
}

.product-container .cost{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 5px;

}

.product-container .cost label {
    font-size: 0.8em;
    font-weight: bolder;
    color: #000;
}

.product-container .cost span {
    font-size: 0.8em;
    font-weight: bold;
    color: green;
}


/* Amount Picker */

.amount-picker{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em;
    width: inherit;
    /* background-color: #ccc; */
    border-bottom: 1px solid #ccc;
}

.amount-picker .label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;

}

.amount-picker .label-container label{
    font-size: 0.8em;
    font-weight: bold;
}

.amount-picker input {
  width:2em;
  height: 3em;
  text-align: center;
  outline: none;
  border: none;
  font-size: large;
  font-weight: 900;
  
}

.total  {
  margin-top: 0.5em;
}

.total label{
    font-size: 0.8em;
    font-weight: bold;
}

.total span{
    font-size: 0.8em;
    font-weight: bold;
    color:orange
}

@media (max-width:500px) {
    .products-container{
        justify-content: center !important;
    }
}