
.custom-radio-btn-wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    border:1px solid #1C4A36;
    border-radius: 5px;
    /* padding: 5px; */
    position: relative;
    margin: 0.5em auto;
    padding: 0.5em;
    font-size: 0.8em;
    width:18.7em
}

input[data-dir="ltr"].custom-radio-btn:checked,
input[data-dir="ltr"].custom-radio-btn:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[data-dir="rtl"].custom-radio-btn:checked,
input[data-dir="rtl"].custom-radio-btn:not(:checked) {
    position: absolute;
    right: 9999px;
}

input[data-dir="ltr"].custom-radio-btn:checked + label,
input[data-dir="ltr"].custom-radio-btn:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

input[data-dir="rtl"].custom-radio-btn:checked + label,
input[data-dir="rtl"].custom-radio-btn:not(:checked) + label
{
    position: relative;
    padding-right: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

input[data-dir="ltr"].custom-radio-btn:checked + label:before,
input[data-dir="ltr"].custom-radio-btn:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

input[data-dir="rtl"].custom-radio-btn:checked + label:before,
input[data-dir="rtl"].custom-radio-btn:not(:checked) + label:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

input[data-dir="ltr"].custom-radio-btn:checked + label:after,
input[data-dir="ltr"].custom-radio-btn:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #1c4a36;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[data-dir="rtl"].custom-radio-btn:checked + label:after,
input[data-dir="rtl"].custom-radio-btn:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #1c4a36;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.custom-radio-btn:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.custom-radio-btn:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}