.checkbox-group-wrapper {
    flex:1;
    padding:1em;
    border-radius: 10px;
    /* border:4px dashed #777; */
    
    /* width:max-content */
}
.checkbox-group-wrapper div.title {
   /* width: 100%; */
   text-align: center;
   /* border:1px solid var(--BASE_COLOR); */
   /* background-color: var(--BASE_COLOR); */
   /* color:var(--COVER_COLOR) */
   padding: 1em;
   margin:0em 0.3em;
   color:var(--BASE_COLOR) ;
   border:1px solid #ccc;

   border-bottom:none

   
   
}
.checkbox-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border:1px solid var(--BASE_COLOR);
}
.checkbox-list span {
    background-color: var(--COVER_COLOR);
    padding: 1em;
    width:100%
}

.checkbox-list div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em;
    /* border:1px solid var(--BORDER_COLOR); */
    flex-wrap: wrap;  
    /* align-items: flex-start; */
}

