div.main-login-container{


   /* border: 1px solid #777; */
   /* border: 4px dashed #777; */
   border-radius: 5px;
   width: 50%;
   margin-bottom: 3em;
   /* flex:1; */
   /* background-color: #1c4a36; */
   background-color: #fff;
   

}

.forget-password-wrapper{
   /* border: 4px dashed #777; */
   /* border-radius: 10px;
   padding: 2em;
   margin: 2em;
   width: 90%; */
   border-radius: 5px;
   width: 50%;
   margin-bottom: 3em;
   background-color: #fff;


}
div.logo-container {
 padding: 10px
}

div.logo-container img {
   
   width: 50px;

   height: 50px  
}

div.title-container{

 padding: 10px;
 width: 100%;
 text-align: center; 
}

div.title-container span {
    
   color: #777;

   font-size: 24px;

   font-weight: bolder;
}

div.input-fields-container{
    
   height: auto;

   padding: 10px;

   display:flex;
   
   flex-direction: column;
   
   justify-content: space-between;

}

div.input-fields-container label{
   width: auto;
   justify-content: space-between;
   display: flex;
}

div.input-fields-container label input{
   
   width: inherit;
   border-radius: 5px
}

div.action-btns-container{

 display: flex;

 flex-direction: column;

 justify-content: center;
 

 padding: 10px;

}


div.action-btns-container button.login, a.nav-links {
	width:100%;
	/* margin-left: 22%; */
	/* margin-top: 5%; */
   align-self: center;
   text-align: center;
   margin: 0.3em auto;
}

@media (max-width: 460px) {

      div.main-login-container, .forget-password-wrapper{
      	width: 100%;
      	margin-right: auto;
        margin-left: auto;
      }
  }

